<!DOCTYPE html>
<html>
<head>
	<title>ARG_ENIB</title>
	<link rel='stylesheet' href='/css/style.css' />
	<link rel="icon" href="images/favicon.ico" />
	<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<script  src="lib/jquery/jquery.min.js"></script>
	<script  src="lib/bootstrap/js/bootstrap.min.js"></script>
	<script  src="js/analytics.js"></script>
	<link rel='stylesheet' href='/css/style.css' />
	<meta name="robots" content="noindex, nofollow">
</head>
<body>

	<div class="container" style="text-align: center;">
		<div class="container" id="logmes" style="position: fixed;right: 10px;bottom: 10px;width: 20%;">
		</div>
		<table class="table table-dark table-striped">
			<thead>
				<tr>
					<th scope="col">Pending antiCheatId :</th>
					<th scope="col">Sessions actives :</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th id="pendingN">{{pending}}</th>
					<th id="sessionN">{{session}}</th>
				</tr>
			</tbody>
		</table>
		<a href="/logout" style="position: absolute;top: 5px;left: 5px;"><button type="button" name="button">Logout</button></a>

		<table class="table table-dark table-striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nom</th>
					<th scope="col">Premier affichage</th>
					<th scope="col">Temps restant avant indice</th>
				</tr>
			</thead>
			<tbody>
				{{#each enigmas}}
				<tr>
					<th scope="row">{{id}}</th>
					<td><a onclick="fetchData({{id}});" style="cursor: pointer;">{{name}}</a></td>
					<td class="{{#unless first_time_visited_null}}date{{/unless}}">{{first_time_visited}}</td>
					<td class="{{#unless hold_update}}updateTime{{/unless}}" id="{{remaining.remaining}}">{{#if hold_update}}{{symbole}}{{/if}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>



		<table class="table table-dark ">
			<thead>
				<tr>
					<th></th>
					<th scope="col">Nom</th>
					<th style="width:30%;" scope="col">date</th>
					<th style="width:10%;"></th>
				</tr>
			</thead>
			<tbody>
				{{#each winners}}
				<tr>
					<td style="width:5%;">{{this.enigma_id}}</td>
					<td></td>
					<td></td>
					<td style="width:10%;"> <button type="button" class="btn" data-toggle="collapse" data-target=".row{{@index}}">+</button>{{this.length}}</td>
				</tr>
				{{#each this.list}}
				<tr class="row{{@../index}} collapse out">
					<td></td>
					<td scope="row">{{name}}</td>
					<td style="width:30%;" class="date">{{date}}</td>
					<td></td>
				</tr>
				{{/each}}
				{{/each}}
			</tbody>
		</table>




	</div>

	<!-- Modal -->
	<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="enigma_text">Enigma text</label>
						<textarea class="form-control" id="enigma_text" rows="3"></textarea>
					</div>
					<div class="form-group">
						<label for="url">URL</label>
						<input type="text" class="form-control" id="url">
					</div>
					<div class="form-group row">
						<label for="type" class="col-sm-2 col-form-label">Type</label>
						<div class="col-sm-10">
							<input type="text" readonly class="form-control" id="type" value="">
						</div>
					</div>
					<div class="form-group">
						<label for="delay_to_hint">delay to hint</label>
						<input type="number" class="form-control" id="delay_to_hint">
					</div>
					<div class="form-group">
						<label for="hint">Hint</label>
						<textarea class="form-control" id="hint" rows="3"></textarea>
					</div>
					<div id="flag_type_form">
						<div class="form-group">
							<label for="flag">flag</label>
							<input type="text" class="form-control" id="flag">
						</div>
					</div>
					<div id="geo_type_form">
						<div class="form-group">
							<label for="latA">latA</label>
							<input type="text" class="form-control" id="latA">
						</div>
						<div class="form-group">
							<label for="longA">longA</label>
							<input type="text" class="form-control" id="longA">
						</div>
						<div class="form-group">
							<label for="latB">latB</label>
							<input type="text" class="form-control" id="latB">
						</div>
						<div class="form-group">
							<label for="longB">longB</label>
							<input type="text" class="form-control" id="longB">
						</div>
					</div>
					<div id="id_enigma">
						<div class="form-group" style="visibility:hidden;">
							<input type="text" class="form-control" id="id">
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" onclick="saveData();">Save changes</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
